node_modules
**/node_modules

dist
build

.env
.env.*
!.env.example

scratch.md
notes.md

# dev certs
.certs

# scratch files
.scratch

# local dev logs
/logs

# local backend config files (ex: OpenSearch's internal_users.yml)
/backend-config/.local