name: micro-service-task-app-dev

services:
  mongo:
    volumes:
      - mongo_data:/data/db
    image: mongodb/mongodb-community-server:8.0-ubi8
    container_name: mongo
    ports:
      - "${MONGODB__PORT}:27017"
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:4.2-management-alpine
    container_name: rabbitmq
    ports:
      - "${RABBITMQ__PORT}:5672"
      - "${RABBITMQ__WEB_PORT}:15672"
    restart: unless-stopped

  smtp-server:
    environment:
      - MAILDEV_SMTP__PORT=${SMTP__PORT}
      - SMTP__USER=${SMTP__USER}
      - SMTP__PASS=${SMTP__PASS}
      - MAILDEV_WEB_PORT=${MAILDEV_WEB_PORT}
    volumes:
      - mail_data:/maildata
    image: maildev/maildev:latest
    container_name: smtp-server
    user: root
    ports:
      - "${MAILDEV_WEB_PORT}:1080" # Web UI
      - "${SMTP__PORT}:1025" # SMTP server
    command:
      [
        "maildev",
        "--mail-directory",
        "/maildata",
        "--incoming-user",
        "${SMTP__USER}",
        "--incoming-pass",
        "${SMTP__PASS}",
      ]
    restart: unless-stopped

volumes:
  mongo_data:
  mail_data:
  npm_cache:
